<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='players.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    
    <title>{{ title }} - Rock, Paper & Scissors</title>
</head>
<body>
    <header id="header-background">
      <div id="header_text">
    <h1>Rock, Paper & Scissors!!</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, amet libero distinctio ipsam expedita ad corporis architecto dolorem delectus ducimus quis.
    </p>
  </div>
      <div id="nav">
      <ul>
        <li clas="navLink"><a href="/">Home</a></li>
      </ul>
    </div>
    </header>
      {% block content %}
      {% endblock %}
</body>
</html>